#lockBox {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 99999;
}

#lockButton {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 25px;
    right: 50px;
    bottom: 50px;
    background-color: #ffd000;
    border-radius: 100%;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: ghostwhite;
    font-size: xx-large;
}

#lockButton:hover {
    background-color: #ffdd00;
}

#keyBox {
    width: 100vw;
    height: 20vh;
    background-color: rgb(230, 230, 230);
}

#keyWord {
    background: transparent;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    font-size: 5em;
}

.success {
    background-color: green;
    color: white;
}

.fail {
    background-color: darkred;
    color: white;
}